<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"> <link href="http://fonts.googleapis.com/css?family=Kotta+One|Niconne|Economica:400,700" rel="stylesheet" type="text/css"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.css"> <link rel="stylesheet" href="styles/main.css">  </head><body ng-app="roommateWorldApp"> <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]--> <!-- Add your site or application content here --> <div ui-view="" class="container"></div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>(function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');</script> <!--[if lt IE 9]>
<script src="scripts/oldieshim.js"></script>
<![endif]--> <script src="scripts/vendor.js"></script> <script src="scripts/scripts.js"></script> <!-- Cordova inclusion --> <script src="cordova.js"></script>  

<!-- Begin Templates -->
<script type="text/ng-template" id="/views/common/filter.html">
<div class="filter"></div>
</script>

<script type="text/ng-template" id="/views/common/header.html">
<div class="header"> <span class="header-icon" ng-click="drawerParams.toggle()"> <i class="fa fa-bars"></i> </span> <span class="header-text"> Roommate World </span> </div>
</script>

<script type="text/ng-template" id="/views/common/load-screen.html">
<drawer> <div class="drawer-pull container" ui-view="MainContent" fast-click></div> <div class="drawer-menu" ui-view="MenuPanel" fast-click></div> </drawer> <slide-out-menu top height="auto"> <div class="slide-up-menu" ui-view="SlideMenu" stop-event></div> </slide-out-menu>
</script>

<script type="text/ng-template" id="/views/common/main-content.html">
<div class="main-content"> <header ui-view="Header"></header> <div ui-view="Content"> content goes here </div> <footer ui-view="Footer"></footer> </div> <div class="click-blocker" ng-click="drawerParams.close()"></div>
</script>

<script type="text/ng-template" id="/views/common/selection-screen.html">
<div class="selection-screen"> <div class="app-label"> Roommate World </div> <div class="selection-group"> <div class="button-default" ng-click="go('roommates')"> <span> Looking for Roommates </span> </div> <div class="button-default" ng-click="go('rooms')"> <span> Looking for Rooms </span> </div> <div class="button-default" ng-click="go('apartments')"> <span> Looking for Apartments </span> </div> <div class="optional" ng-click="defaultSelected=!defaultSelected"> <i class="selection-checkbox fa fa-check-circle-o fa-fw" ng-class="{'fa-check-circle-o': defaultSelected,'fa-circle-o':!defaultSelected}"></i> Set as default selection </div> <div class="split-line"></div> <div class="button-default" ng-click="$state.go('post')"> <span> Post an Ad </span> </div> </div> </div>
</script>

<script type="text/ng-template" id="/views/dashboard/dashboard.html">
<div class="dashboard"> <table class="table"> <tr ng-repeat="roommate in roommateData"> <td>{{roommate}} - {{$id}} <td ng-click="remove('{{roommate.$id}}')">Remove  </table> <ul> <li class="rental-list" ng-repeat="stay in filtered = (displayData | listFilter:selected)"> {{stay[selected]}} </li> </ul> </div>
</script>

<script type="text/ng-template" id="/views/dashboard/results-roommates.html">
<p>This is the dashboard/results-roommates view.</p>
</script>

<script type="text/ng-template" id="/views/menu/menu-panel.html">
<div class="menu-panel"> <ul> <li class="menu-option" ng-click="$state.go('start.main.dashboard') && drawerParams.close()"> Dashboard </li> <li class="menu-option"> Settings </li> <li class="menu-option" ng-click="$state.go('load') && drawerParams.close()"> Change Selection </li> <li class="menu-option" ng-click="$state.go('post') && drawerParams.close()"> Post an Ad </li> </ul> </div>
</script>

<script type="text/ng-template" id="/views/menu/settings.html">
<p>This is the menu/settings view.</p>
</script>

<script type="text/ng-template" id="/views/post/post.html">
<div class="post"> <div class="post-block"> <label>zipcode</label> <input class="block form-input" ng-model="postData.zipcode" type="number"> </div> <div class="post-block"> <label>Posting for</label> <div class="option-box"> <span class="option" ng-class="{'selected': selected === option}" ng-click="select(option)" ng-repeat="option in options"> {{option}} </span> </div> </div> <div class="post-block"> <div ng-switch="selected"> <div ng-switch-when="rooms"> <label>Looking for rent around</label> </div> <div ng-switch-when="roommates"> <label>Rent the room for</label> </div> <div ng-switch-when="apartments"> <label>Rent</label> </div> <input class="form-input block" ng-model="postData.rent" type="number"> </div> </div> <div class="post-block"> <div ng-click="post()" class="button-default block"> Post </div> </div> </div>
</script>

<script type="text/ng-template" id="/views/site/about.html">
<p>This is the about view.</p>
</script>
<!-- End Templates -->

</body></html>